:root {
    --border-color: rgb(197, 197, 197);
    --label-color: gray;
    --primary-color: #aaf0d1;
}
.input-form {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    gap: .5rem;
}
.input-form > div {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.input-form > div > label {
    color: var(--label-color);
}
.form {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.form p {
    margin: 0;
}
.header {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.header > .icon {
    font-size: 60px;
}
.header > .info > h2 {}
.header > .info > p {
    color: gray;
    line-height: .25em;
    margin: 0;
}

.box-border {
    border-radius: 12px;
    border: 1px solid var(--border-color);
    padding:1rem;
    box-shadow: 2px 2px 2px 2px var(--border-color)
}
.main-content {
}

.result-zone {
}
.result-zone > .top {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.result-zone > .bottom {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.bottom > input {
    width: 50%
}